<!DOCTYPE html>
<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<title>nasa app</title>
	</head>
	<body>
		<ul class="navbar">
			<img id="logo" src="/ico-nasa.png"/>

			<li><a href="contact">Contact</a></li>
			<li><a href="mission">Our Mission</a></li>
			<li><a href="map">Landing Map</a></li>
			<li><a href="creativity">Creativity</a></li>
			<li><a href="home">Home</a></li>
		</ul>
	</body>
</html>