<!DOCTYPE html>
<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<title>nasa app</title>
		<script type='text/javascript' src='http://www.x3dom.org/download/x3dom.js'> </script> 
        <!--<link rel='stylesheet' type='text/css' href='http://www.x3dom.org/download/x3dom.css'></link> -->
	</head>
	<body>
		<div class="navbar">
			<ul>
				<img id="logo" src="/ico-nasa.png" style="margin:5px"/>
				<li><a href="contact">Contact</a></li>
				<li><a href="mission">Our Mission</a></li>
				<li><a href="map">Landing Map</a></li>
				<li><a href="creativity">Silent RD-1</a></li>
				<li><a href="home">Home</a></li>
			</ul>
		</div>

		<div class="main-body">
			<!-- <h1>Silent RD_1</h1> -->
		
			<div id="player">
				<x3d width='100%' height='100%'>
					<scene> 
						<Viewpoint position="-2.49097 2.56322 -4.27384" orientation="0.04309 0.98309 0.17797 3.73742" zNear="1.80049" zFar="9.06980" description="camera"></Viewpoint>
						<transform>
							<inline nameSpaceName="Rover" url="/rover.x3d"> </inline>
						</transform>
        			</scene>
				</x3d>
			</div>

			<h1>About</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis venenatis dolor, ac commodo metus. Sed posuere, purus aliquet volutpat finibus, lacus lectus tincidunt tortor, vitae tincidunt nibh eros sit amet odio. Donec vehicula ipsum lorem. Donec volutpat commodo fringilla. Suspendisse vitae mollis nulla, et rhoncus dui. Mauris a diam in risus tempus semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vitae egestas turpis, sed lobortis leo. Vestibulum at neque tempor purus fermentum accumsan. Donec quis tellus quis lacus finibus vulputate. Nam in risus id arcu finibus rhoncus a ut nisl. Praesent interdum purus sit amet molestie finibus. 
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis venenatis dolor, ac commodo metus. Sed posuere, purus aliquet volutpat finibus, lacus lectus tincidunt tortor, vitae tincidunt nibh eros sit amet odio. Donec vehicula ipsum lorem. Donec volutpat commodo fringilla. Suspendisse vitae mollis nulla, et rhoncus dui. Mauris a diam in risus tempus semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vitae egestas turpis, sed lobortis leo. Vestibulum at neque tempor purus fermentum accumsan. Donec quis tellus quis lacus finibus vulputate. Nam in risus id arcu finibus rhoncus a ut nisl. Praesent interdum purus sit amet molestie finibus. 
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis venenatis dolor, ac commodo metus. Sed posuere, purus aliquet volutpat finibus, lacus lectus tincidunt tortor, vitae tincidunt nibh eros sit amet odio. Donec vehicula ipsum lorem. Donec volutpat commodo fringilla. Suspendisse vitae mollis nulla, et rhoncus dui. Mauris a diam in risus tempus semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vitae egestas turpis, sed lobortis leo. Vestibulum at neque tempor purus fermentum accumsan. Donec quis tellus quis lacus finibus vulputate. Nam in risus id arcu finibus rhoncus a ut nisl. Praesent interdum purus sit amet molestie finibus. 
			</p>
		</div>


	</body>
</html>