<!DOCTYPE html>
<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<title>nasa app</title>
		<script type='text/javascript' src='http://www.x3dom.org/download/x3dom.js'> </script> 
        <!--<link rel='stylesheet' type='text/css' href='http://www.x3dom.org/download/x3dom.css'></link> -->
	</head>
	<body>
		<div class="navbar">
			<ul>
				<img id="logo" src="/ico-nasa.png" style="margin:5px"/>
				<li><a href="contact">Contact</a></li>
				<li><a href="mission">Our Mission</a></li>
				<li><a href="map">Landing Map</a></li>
				<li><a href="creativity">Silent RD-1</a></li>
				<li><a href="home">Home</a></li>
			</ul>
		</div>

		<div class="main-body" style="margin-left:0px; padding:0px; width:100%;height:100%">
			<div id="map"></div>
		</div>
	</body>
</html>

<style>
      #map {
      	height:100%;
        width:100%;
      }
</style>

<script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 20, lng: 10},
          zoom: 3,
          streetViewControl: false,
          mapTypeControlOptions: {
            mapTypeIds: ['moon']
          }
        });

        var moonMapType = new google.maps.ImageMapType({
          getTileUrl: function(coord, zoom) {
              var normalizedCoord = getNormalizedCoord(coord, zoom);
              if (!normalizedCoord) {
                return null;
              }
              var bound = Math.pow(2, zoom);
              return '//mw1.google.com/mw-planetary/lunar/lunarmaps_v1/clem_bw' +
                  '/' + zoom + '/' + normalizedCoord.x + '/' +
                  (bound - normalizedCoord.y - 1) + '.jpg';
          },
          tileSize: new google.maps.Size(256, 256),
          maxZoom: 9,
          minZoom: 0,
          radius: 1738000,
          name: 'Moon'
        });

        map.mapTypes.set('moon', moonMapType);
        map.setMapTypeId('moon');

        
        <% for(var i = 0; i < records.length; i++){ %>
        //START OF MARKER<%= i %> PART

        	var contentString<%= i %> = '<div id="content">'+
      								'<div id="siteNotice">'+
      								'</div>'+
      									'<h1 id="firstHeading" class="firstHeading" style="color:black"><%= records[i]["orbiter"] %></h1>'+
      									'<div id="bodyContent">'+
      									'<p style="color:black">rank: <%= records[i]["rank"] %></p>'+
      								'</div>'+
      							'</div>';
	
	
        	var marker<%= i %> = new google.maps.Marker({
      			position:{lat:<%= parseFloat(records[i]["lat"].replace(",",".")) %>,lng:<%= parseFloat(records[i]["lon"].replace(",",".")) %>},
      			map:map,
      			label: '<%= records[i]["code"] %>',
      			title: 'test'
      		});
	
      		var infowindow<%= i %> = new google.maps.InfoWindow({
    			content: contentString<%= i %>
 			});
	
 			marker<%= i %>.addListener('click', function() {
   				infowindow<%= i %>.open(map, marker<%= i %>);
  			});
  		//END OF MARKER<%= i %> PART
  		<% } %>
  		


      }

      // Normalizes the coords that tiles repeat across the x axis (horizontally)
      // like the standard Google map tiles.
      function getNormalizedCoord(coord, zoom) {
        var y = coord.y;
        var x = coord.x;

        // tile range in one direction range is dependent on zoom level
        // 0 = 1 tile, 1 = 2 tiles, 2 = 4 tiles, 3 = 8 tiles, etc
        var tileRange = 1 << zoom;

        // don't repeat across y-axis (vertically)
        if (y < 0 || y >= tileRange) {
          return null;
        }

        // repeat across x-axis
        if (x < 0 || x >= tileRange) {
          x = (x % tileRange + tileRange) % tileRange;
        }

        return {x: x, y: y};
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJHaMucjLMqPdoorgWbbNohDlLqAlm_Rs&callback=initMap">
    </script>


