.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #22272b; /*#353b48*/
}
	
.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
}

.navbar li a:hover {
	padding: 20px 30px 15px 30px;
	border-bottom:5px solid #ff4919;
}

.navbar{
	position:fixed;
	top: 0;
	width:100%;
	height:60px;
}

h1{
	text-align:center;
	color:#ecf0f1;
}

#player{
	margin: 0 10% 0 10%;
	text-align: center;

	/*border:10px solid white;
	border-radius:10px;*/
	width: 80%;
	height: 700px;

	width: 80%;
    background-color: white;
    
}

.main-body{
	padding:30px;
	margin:60px 25% 0px 25%;
	width:50%;
	color: #ecf0f1;
}

body, html{
	margin:0;
	font-family:"Helvetica";
	background-image: url("/wallpaper2.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
}
